/*@font-face {
    src: url('helvetica_reg.ttf');
}*/
.button{
  -fx-background-color: #00C674;
  -fx-text-fill: WHITE;
  -fx-font-size: 18;
  /*-fx-font-family: "Helvetica Neue W23 for SKY Reg";*/

}

